<EditForm Model="@EditModel" OnValidSubmit="ValidSubmit">
    <DataAnnotationsValidator />
    <MudDialog>
        <DialogContent>
            <MudContainer>
                <MudGrid>
                    <MudItem lg="6" md="6" xs="12">
                        <MudTextField Margin="Margin.Dense" @bind-Value="EditModel.name" Label="Name" Variant="Variant.Outlined" For="@(() => EditModel.name)"></MudTextField>
                    </MudItem>
                    <MudItem lg="6" md="6" xs="12">
                        <MudTextField Margin="Margin.Dense" @bind-Value="EditModel.phone" Label="Phone" Variant="Variant.Outlined" For="@(() => EditModel.phone)"></MudTextField>
                    </MudItem>
                    <MudItem lg="6" md="6" xs="12">
                        <MudTextField Margin="Margin.Dense" @bind-Value="EditModel.url" Label="Url" Variant="Variant.Outlined" For="@(() => EditModel.url)"></MudTextField>
                    </MudItem>
                    <MudItem lg="6" md="6" xs="12">
                        <MudTextField Margin="Margin.Dense" T="string" Class="m-0" Label="Address" Variant="Variant.Outlined" @bind-Text="EditModel.address" Lines="5" />
                    </MudItem>
                    <MudItem lg="6" md="6" xs="12">
                        <MudItem lg="12" md="12" xs="12">
                            <MudText>
                                Add Photo:
                                            <span class="mx-2">
                                                <MudIconButton HtmlTag="label" for="fileInput" Icon="@Icons.Material.Filled.AttachFile" Color="Color.Primary">Attachment</MudIconButton>
                                                <InputFile id="fileInput" OnChange="AttachFiles" hidden multiple />
                                            </span>
                            </MudText>
                        </MudItem>
                        <MudItem lg="12" md="12" xs="12" Class="py-2">
                           @* @if (EditModel.photos != null)
                                        {
                                            for (int i = 0; i < EditModel.photos.Count; i++)
                                            {
                                                 <img height="50px" width="50px" class="mr-1 mb-1" src="@EditModel.photos[i]" />
                                            }
                                        }*@

                                        @if (newlyAttachedFiles is not null && uploadAttachmentList.Any())
                                        {
                                            @foreach (var imgData in uploadAttachmentList)
                                            {
                                                <img height="50px" width="50px" class="mr-1 mb-1" src="data:image;base64,@System.Convert.ToBase64String(imgData.Content)" />
                                            }
                                        }
                        </MudItem>
                    </MudItem>
                    <MudItem Class="d-flex justify-end my-2" xs="12">
                        <MudButton Color="Color.Primary" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="isDisabled">
                            @if (isDisabled)
                            {
                                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                                <MudText Class="ms-2">Processing</MudText>
                            }
                            else
                            {
                                <MudText Class="ms-2">Update</MudText>

                            }
                        </MudButton>
                    </MudItem>
                </MudGrid>
            </MudContainer>
        </DialogContent>
    </MudDialog>
</EditForm>